<form class="form-inline">
	<label for="route">Routes</label>
	<select id="route">
	  <option value=""> -- </option>
	  {{#each routes}}
	    <option value={{route_id}}>{{route_type}} {{route_short_name}}</option>
	  {{/each}}
	</select>

	<label for="trip">Trips</label>
	<select id="trip">
	  <option value=""> -- </option>
	  {{#each trips}}
	    <option value={{trip_id}}>{{trip_type}} {{trip_short_name}}</option>
	  {{/each}}
	</select>
</form>