<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/routes">Routes</a></li>
    <li class="active">{{route.route_short_name}}</li>
  </ol>

  <div class="page-header">
    <h1>Route: {{route.route_short_name}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Description</h2>
      <dl class="dl-horizontal">
        <dt>Short Name</dt>
        <dd>{{route.route_short_name}}</dd>
        <dt>Long Name</dt>
        <dd>{{route.route_long_name}}</dd>
        <dt>Agency</dt>
        <dd>{{route.agency_id}}</dd>
        <dt>Type</dt>
        <dd>{{route.route_type}}</dd>
        <dt>Color</dt>
        <dd>{{route.route_color}}</dd>
        <dt>Description</dt>
        <dd>{{route.route_desc}}</dd>
        <dt>Active</dt>
        <dd>{{route.active}}</dd>
      </dl>
    </div>
    <div class="col-md-8">
      <h2>Trips
        <button class="btn btn-primary btn-create pull-right"><span class="glyphicon glyphicon-plus"></span> New</button>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Headsing</th>
            <th>Active</th>
            <th>Short Name</th>
            <th>Direction</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each models}}
          <tr data-index="{{@index}}">
            <td>
              <a href="#/routes/{{../route.route_id}}/trips/{{trip_id}}"
                  class="btn-trips">{{trip_headsign}}</a>
            </td>
            <td><span class="glyphicon glyphicon-{{#if active}}ok{{/if}}"></span></td>
            <td>{{trip_short_name}}</td>
            <td>{{#if_eq direction_id "1"}}Inwards{{else}}Outwards{{/if_eq}}</td>
            <td class="text-right">
              <button class="btn btn-default btn-rm"><span class="glyphicon glyphicon-remove"></span> Remove</button>
              <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>
