<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/routes">Routes</a></li>
    <li class="active">Route: {{route.route_short_name}}</li>
    <li class="active">Trips</li>
  </ol>

  <h3>Trips for route: {{route.route_short_name}}</h3>
  <div class="row voffset1">
    <div class="col-md-12">
      <button class="btn btn-primary btn-create pull-right"><span class="glyphicon glyphicon-plus"></span> New</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Headsing</th>
        <th>Active</th>
        <th>Short Name</th>
        <th>Direction</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each models}}
      <tr data-index="{{@index}}">
        <td>{{trip_headsign}}</td>
        <td><span class="glyphicon glyphicon-{{#if active}}ok{{/if}}"></span></td>
        <td>{{trip_short_name}}</td>
        <td>{{#if_eq direction_id "1"}}Outwards{{else}}Inwards{{/if_eq}}</td>
        <td class="text-right">
          <button class="btn btn-default btn-rm"><span class="glyphicon glyphicon-remove"></span> Remove</button>
          <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <a href="#/routes/{{../route.route_id}}/trips/{{trip_id}}" class="btn btn-default btn-trips">Details</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
