<div id="routeEditData" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Route id: {{route_id}}</h3>
  </div>

  <div class="modal-body">

<form class="form-horizontal">
  <div class="control-group hide">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
</form>

    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="agencyId">agency_id</label>
        <div class="controls">
          <input id="agencyId" type="text" class="edit-stop-entre" value="{{agency_id}}"  placeholder="agency_id">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="route_color">route_color</label>
        <div class="controls">
          <input type="text" id="route_color" placeholder="route_color" value="{{route_color}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="route_desc">route_desc</label>
        <div class="controls">
          <input type="text" id="route_desc" value="{{route_desc}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="route_long_name">route_long_name</label>
        <div class="controls">
          <input type="text" id="route_long_name" value="{{route_long_name}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="route_short_name">route_short_name</label>
        <div class="controls">
          <input type="text" id="route_short_name" value="{{route_short_name}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="route_type">route_type</label>
        <div class="controls">
          <input type="text" id="route_type" value="{{route_type}}">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" {{#if active}}checked{{/if}}> Active
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary btn-save">Save changes</a>
  </div>
</div>