<div class="well well-small">
  <form class="form-horizontal">
    <fieldset>
    <legend>Stop Attributes</legend>
    <p><strong>ID: </strong>{{stop.properties.stop_id}}</p>
    <p><strong>Ordinal: </strong>{{stop.properties.stop_seq}}</p>
    <label class="checkbox">
      <input type="checkbox" {{#if stop.properties.is_timepoint}}checked{{/if}}> 
      control tiempo
    </label>
    <label>Calle</label>
    <input type="text" class="edit-stop-calle" value="{{stop.properties.stop_calle}}">
    <label>Número</label>
    <input type="text" class="edit-stop-numero" value="{{stop.properties.stop_numero}}">
    <label>Esquina</label>
    <input type="text" class="edit-stop-esquina" value="{{stop.properties.stop_esquina}}">
    <label>Entre</label>
    <input type="text" class="edit-stop-entre" value="{{stop.properties.stop_entre}}">
    <p><strong>Lineas: </strong>{{#each stop.properties.stop_lineas}}{{this}}, {{/each}}</p>
    </fieldset>
  </form>
  <button class="btn btn-primary save-stop">Save</button>
</div>
