<div class="well well-small">
  <h4>Stop Attributes</h4>
  <dl>
    <dt>Id</dt>
    <dd><span class="edit-stop-id">{{stop.properties.stop_id}}</span></dd>
    <dt>Ordinal</dt>
    <dd><span class="edit-stop-seq">{{stop.properties.stop_seq}}</span></dd>
    <dt>Control Tiempo</dt>
    <dd><span contentEditable="true" class="edit-is-timepoint">{{#if stop.properties.is_timepoint}}si{{else}}no{{/if}}</span></dd>
    <dt>Calle</dt>
    <dd>
      <span contentEditable="true" class="edit-stop-calle">
        {{#unless stop.properties.stop_calle}}-{{/unless}}
        {{stop.properties.stop_calle}}
      </span>
    </dd>
    <dt>Numero</dt>
    <dd>
      <span contentEditable="true" class="edit-stop-numero">
        {{#unless stop.properties.stop_numero}}&nbsp;{{/unless}}
        {{stop.properties.stop_numero}}
      </span>
    </dd>
    <dt>Esquina</dt>
    <dd><span contentEditable="true" class="edit-stop-esquina">{{stop.properties.stop_esquina}}</span></dd>
    <dt>Entre Calles</dt>
    <dd><span contentEditable="true" class="edit-stop-entre">{{stop.properties.stop_entre}}</span></dd>
    <dt>Lineas</dt>
    <dd>{{#each stop.properties.stop_lineas}}<span>{{this}}, </span>{{/each}}</dd>
  </dl>
  <button class="btn btn-primary save-stop">Save</button>
</div>
