<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
  <li class="active"><a href="#lav" data-toggle="tab">Lunes a Viernes</a></li>
  <li><a href="#sabado" data-toggle="tab">Sábados</a></li>
  <li><a href="#domingo" data-toggle="tab">Domingos y Feriados</a></li>
  </ul>
  <div class="tab-content">
  <div class="tab-pane active" id="lav">
    {{#each lav}}
    <p>Desde: {{desde}} hasta: {{hasta}} cada {{frecuencia}} minutos</p>
    {{/each}}
  </div>
  <div class="tab-pane" id="sabado">
    {{#each sabado}}
    <p>Desde: {{desde}} hasta: {{hasta}} cada {{frecuencia}} minutos</p>
    {{/each}}
  </div>
  <div class="tab-pane" id="domingo">
    {{#each domingo}}
    <p>Desde: {{desde}} hasta: {{hasta}} cada {{frecuencia}} minutos</p>
    {{/each}}
  </div>
  </div>
</div>