<h4>Sequence Times</h4>

<div class="row voffset1">
  <div class="col-md-12">
	<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>N</th><th>Stop Id</th><th>Time</th><th>Distance (km)</th><th>Speed (km/h)</th>
		</tr>
	</thead>
	<tbody>
		{{#each this}}
		<tr data-stop-id="{{stop_id}}" draggable="true">
			<td>{{stop_sequence}}</td>
			<td>{{stop_id}}</td>
			<td class="stop-time" contenteditable="true">{{stop_time}}</td>
			<td>{{shape_dist_traveled}}</td>
			<td>{{speed}}</td>
		</tr>
		{{/each}}
	</tbody>
	</table>
  </div>
</div>