<button class="btn btn-default add-btn"><span class="glyphicon glyphicon-plus"></span> Add</button>
<button class="btn btn-default save-btn"><span class="glyphicon glyphicon-save"></span> Save</button>
<table class="table table-hover table-condensed table-editable">
	<thead>
		<tr>
			<th class="col-sm-5">Service Id</th>
			<th class="col-sm-6">Time</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>
	<tbody>
		{{#each models}}
		<tr data-index="{{@index}}">
			<td><input class="form-control" data-attr="service_id" type="text" value="{{service_id}}"/></td>
			{{!-- <td>
				<select class="form-control" data-attr="service_id">
					{{#each ../service_ids}}
					<option value="{{this}}">{{this}}</option>
					{{/each}}
				</select>
			</td> --}}
			<td><input class="form-control" data-attr="start_time" type="text" value="{{start_time}}"/></td>
			<td><button class="btn btn-default btn-rm"><span class="glyphicon glyphicon-trash"></span></button></td>
		</tr>
		{{/each}}
	</tbody>
</table>