<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stop id: {{stop.stop_id}}</h3>
  </div>
  <div class="panel-body">
  {{#if editMode}}
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <legend>Stop id: {{stop.stop_id}}</legend>
        <label>Calle</label>
        <input placeholder="Calle" type="text" class="form-control edit-stop-calle" value="{{stop.stop_calle}}">
        <label>Número</label>
        <input placeholder="Número" type="text" class="form-control edit-stop-numero" value="{{stop.stop_numero}}">
        <label>Esquina</label>
        <input placeholder="Esquina" type="text" class="form-control edit-stop-esquina" value="{{stop.stop_esquina}}">
        <label>Entre</label>
        <input placeholder="Entre" type="text" class="form-control edit-stop-entre" value="{{stop.stop_entre}}">
      </div>
      <div class="control-group">
        <div class="btn-group">
          <button class="btn btn-primary saveStop"><i class="glyphicon glyphicon-ok"></i> Save</button>
          <button class="btn btn-default cancelEditStop">Cancel</button>
        </div>
      </div>
    </form>
  {{else}}
    <dl>
      <dt>Calle</dt>
      <dd>{{stop.stop_calle}}</dd>
      <dt>Numero</dt>
      <dd>{{stop.stop_numero}}</dd>
      <dt>Esquina</dt>
      <dd>{{stop.stop_esquina}}</dd>
      <dt>Entre</dt>
      <dd>{{stop.stop_entre}}</dd>
      <dt>Lineas</dt>
      <dd>
        <p>{{#each stop.stop_lineas}}{{this}}, {{/each}}</p>
      </dd>
    </dl>
  {{/if}}
  </div>
</div>