<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      {{#if route_id}}
      <h3 class="modal-title">Edit Route id: {{route_id}}</h3>
      {{else}}
      <h3 class="modal-title">Add New Route</h3>
      {{/if}}
    </div>

    <div class="modal-body">
      <form role="form" >
        {{#unless route_id}}
        <div class="form-group">
          <label for="route_id">route_id</label>
          <input class="form-control" type="text" name="route_id" placeholder="route_id" value="{{route_id}}">
        </div>
        {{/unless}}
        <div class="form-group">
          <label for="agency_id">agency_id</label>
          <input class="form-control" type="text" name="agency_id" placeholder="agency_id" value="{{agency_id}}">
        </div>
        <div class="form-group">
          <label for="route_color">route_color</label>
            <input class="form-control" type="text" name="route_color" placeholder="route_color" value="{{route_color}}">
        </div>
        <div class="form-group">
          <label for="route_desc">route_desc</label>
            <input class="form-control" type="text" name="route_desc" placeholder="route_desc" value="{{route_desc}}">
        </div>
        <div class="form-group">
          <label for="route_long_name">route_long_name</label>
            <input class="form-control" type="text" name="route_long_name" placeholder="route_long_name" value="{{route_long_name}}">
        </div>
        <div class="form-group">
          <label for="route_short_name">route_short_name</label>
          <input class="form-control" type="text" name="route_short_name" placeholder="route_short_name" value="{{route_short_name}}">
        </div>
        <div class="form-group">
          <label for="route_type">route_type</label>
          <input class="form-control" type="text" name="route_type" placeholder="route_type" value="{{route_type}}">
        </div>
        <div class="form-group">
            <label>
              <input type="checkbox" {{#if active}}checked{{/if}}> Active
            </label>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary js-save">Save changes</button>
    </div>
  </div>
</div>
